*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#E9E9FF, #C8C7FF);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--color-text);
}

:root{
--color-primary: #5C56E1;
--color-primary-dark: #5b21b6;
--color-accent: #8B5CF6;
--color-card: #FFFFFF;
--color-input: #F1F1FF;
--color-text: #09090E;
--color-placeholder: #5C5A87;
--color-border: #D4D4ED;
--color-gradient: linear-gradient(135deg,#5C56E1, #8B5CF6);
}


.container{
width: 80%;
background-color: var(--color-card);
max-height: 700px;
border-top: 5px solid var(--color-primary);
border-radius: 7px;
flex-direction: column;
flex-wrap: wrap;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.heading{
display: flex;
justify-content: space-between;
align-items: center;
width: 90%;
padding: 10px;
}
.magic_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.magic_icon_btn{
    background: var(--color-gradient);
    padding: 10px;
    border-radius: 7px;
    width: 40px;
    text-align: center;
    color: var(--color-input);
}
.logo a{
text-decoration: none;
margin-left: 5PX;
color: var(--color-text);
font-weight: 700;
}
.dark_white_toggle_btn {
padding: 7px;
border-radius: 50%;
width: 30px;
cursor: pointer;
border: none;
}
.dark_white_toggle_btn:hover,
.dark_white_toggle_btn:active{
    color: var(--color-primary);
    transition: all 0.5s ease;
}
.dark_white_toggle_btn_box {
   margin-right: -30PX;
}



.main{
width: 100%;
height: 120px;
display: flex;
align-items: center;
justify-content: center;
}
.textare_box{
    width: 90%;
    position: relative;
}
  
.text_box{
    width: 100%;
    background-color: var(--color-input);
    height: 70px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    resize: vertical;
    color: var(--color-text);
}
.text_box::placeholder{
    text-transform: capitalize;
}
.text_box:focus{
    outline: none;
    box-shadow: 0 0 15px var(--color-accent);
    transition: all 0.3s ease;
}
.dice_btn{
position: absolute;
right: 10px;
bottom: 10px;
align-content: center;
cursor: pointer;
text-align: center;
background-color: var(--color-accent);
padding: 7px;
border-radius: 50%;
color: var(--color-input);
border: none;
}




.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.selector{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    gap: 20px;
    align-items: center;
}
.select{
background-color: var(--color-border);
padding: 10px;
border-radius: 7px;
border: 1px solid var(--color-input);
cursor: pointer;
}
.select:focus{
    box-shadow: 0 0 15px var(--color-accent);
    outline: none;
    transition: all 0.9s ease;
}
.button_box_gen{
  margin-left: 350px;
}
.gen_btn{
    padding: 10px;
    background: var(--color-gradient);
    color: var(--color-input);
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.gen_btn:focus{
    box-shadow: 0 0 15px var(--color-accent);
    transition: all 0.9s ease;
}

.img_genaret{
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px,1fr));
}

img{
    width: 120px;
}

@media screen and (max-width:640px) {
    .container{
        max-height: 2000px;
        margin: 10px;
    }
    .heading .logo{
        width: 30%;
        text-align: justify;
        margin-left: -190px;
        align-items: center;
    }
        .selector{
            padding: 10px;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-left: 0px;
            align-items: unset;
        }
        .select{
            width: 100%;
        }
        .button_box_gen{
           width: 100%;
           margin-left: 0px;
         }
         .gen_btn{
            width: 100%; 
         }
         .img_genaret{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            margin-left: -0px;
            align-items: center;
            text-align: center;
        }
}